spring:
  application:
    name: spring-rest-api

  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    path: /v3/api-docs